---
openapi: 3.0.0
info:
  version: "0.2.0"
  title: "HMS Canary"
  description: |
    Example Swagger file
                 
  license:
    name: "MIT"

servers:
  - url: https://api-gw-service-nmn.local/apis/hms-canary/v1
    description: The production HMS Canary API server. Access from outside the mesh.
  - url: http://hms-canary:9088
    description: Access from inside the mesh.

paths:
  /liveness:
    get:
      tags:
        - misc
        - cli_ignore
      summary: Kubernetes liveness endpoint to monitor service health
      x-private: true
      description: >-
        The `liveness` resource works in conjunction with the Kubernetes liveness
        probe to determine when the service is no longer responding to
        requests.  Too many failures of the liveness probe will result in the
        service being shut down and restarted.  


        This is primarily an endpoint for the automated Kubernetes system.
      responses:
        '204':
          description: >-
            [No Content](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.2.5)
            Network API call success

  /readiness:
    get:
      tags:
        - misc
        - cli_ignore
      summary: Kubernetes readiness endpoint to monitor service health
      x-private: true
      description: >-
        The `readiness` resource works in conjunction with the Kubernetes readiness
        probe to determine when the service is no longer healthy and able to respond
        correctly to requests.  Too many failures of the readiness probe will result
        in the traffic being routed away from this service and eventually the service
        will be shut down and restarted if in an unready state for too long.


        This is primarily an endpoint for the automated Kubernetes system.
      responses:
        '204':
          description: >-
            [No Content](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.2.5)
            Network API call success

  /hello:
    get:
      tags: ["hardware"]
      summary: 'Get "hello world!"'
      description: >-
        Get the string "hello world!"
      responses:
        200:
          description: "Request successful"
